.products{
    width: 72%;
    height: auto;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:0px 60px;
}

.products a{
    color: #000;
}

.product{
    /* width: 300px; */
    height: auto;
    min-height: 340px;
    margin: 20px 0px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding-bottom: 15px;
}


.product:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.product img{
    width: 70%;
    height: 200px;
    margin-left: 20%;
    margin-top: 10px;
}

.product h2,h3,p, h4{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 500;
}
.product h3{
    font-size: 15px;
    margin-top: 15px;
}
.product h2{
    font-weight: 600;
    font-size: 18px;
}

.product p{
    color: gray;
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
}
.product svg{
    margin-right:5px;
}

@media screen and (max-width: 470px){
    .products{
        grid-template-columns: repeat(2,1fr);
    }
 
}