.products_caption{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-bg);
    font-size: 20px;
    margin: 20px 0 0 0;
    padding: 20px 0 45px 2%;

}

.products_caption .hr{
    flex: 1;
    height: 5px;
    background-color:var(--main-bg);
    margin-left: 10px;
}