.productsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 0 15px;
}

.productsContainer_empty {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.productsContainer_empty img {
    width: 80%;
    margin-bottom: 15px;
}

.productsContainer_empty h1 {
    font-weight: normal;
}

.productsContainer_item {
    height: 460px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #3333;
    transition: 0.2s all;
    padding: 7px;
    position: relative;
}

.productsContainer_item:hover {
    box-shadow: 3px 5px 15px -4px rgba(34, 60, 80, 0.6);
    transition: 0.2s all;
    transform-origin: bottom;
}

.productsContainer_item .productsContainer_item_img {
    width: 100%;
    height: 65%;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

.productsContainer_item .productsContainer_item_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    backdrop-filter: blur(15px);
}

.productsContainer_item p {
    color: #333;
    font-size: 23px;
}

.productsContainer_item h4 {
    font-size: 25px;
    margin: 7px 0;
}


.productsContainer_item_btns svg {
    color: var(--main-bg);
    font-size: 35px;
    margin-right: 20px;
    cursor: pointer;
}


.productsContainer_item_btns svg:active {
    transition: .1s ease-in;
    transform: scale(.9);
}


.productsContainer_item_tel svg {
    font-size: 33px;
}


.productsContainer_item_date {
    display: flex;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.productsContainer_item_date p {
    font-size: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.productsContainer_item_date p svg {
    margin-right: 5px;
}

/* ---------------- RESPONSIVE ------------------- */

@media screen and (max-width:1530px) {
    .productsContainer_item {
        height: 420px;
    }

    .productsContainer_item p {
        font-size: 20px;
    }

    .productsContainer_item h4 {
        font-size: 22px;
    }

    .productsContainer_item_btns svg {
        font-size: 30px;
    }

    .productsContainer_item_date p {
        font-size: 13px;
    }
}

@media screen and (max-width:1530px) {
    .productsContainer_item {
        height: 420px;
    }

    .productsContainer_item p {
        font-size: 20px;
    }

    .productsContainer_item h4 {
        font-size: 22px;
    }

    .productsContainer_item_btns svg {
        font-size: 30px;
    }

    .productsContainer_item_date p {
        font-size: 13px;
    }
}

@media screen and (max-width:1400px) {
    .productsContainer_item {
        height: 356px;
        padding: 4px;
    }

    .productsContainer_item p {
        font-size: 17px;
    }

    .productsContainer_item h4 {
        font-size: 20px;
        margin: 3px 0;
    }

    .productsContainer_item_btns svg {
        font-size: 25px;
    }

    .productsContainer_item_date {
        right: 4px;
        bottom: 2px;
    }

    .productsContainer_item_date p {
        font-size: 12px;
    }
}

@media screen and (max-width:1140px) {
    .productsContainer {
        gap: 7px;
        padding: 0 7px;
    }

    .productsContainer_item {
        height: 320px;
    }

    .productsContainer_item p {
        font-size: 15px;
    }

    .productsContainer_item h4 {
        font-size: 17px;
        margin: 3px 0;
    }

    .productsContainer_item_btns svg {
        font-size: 21px;
    }

    .productsContainer_item_date p {
        font-size: 11px;
    }
}


@media screen and (max-width:1000px) {
    .productsContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:770px) {
    .productsContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .productsContainer_item:hover {
        box-shadow: 2px 4px 10px -3px rgba(34, 60, 80, 0.6);
    }
}

@media screen and (max-width:668px) {
    .productsContainer_item {
        height: 300px;
    }
}

@media screen and (max-width:600px) {
    .productsContainer_item_btns svg {
        font-size: 19px;
    }
}

@media screen and (max-width:540px) {
    .productsContainer_item_btns svg {
        font-size: 19px;
        margin-right: 15px;
    }
}

@media screen and (max-width:470px) {
    .productsContainer {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 7px;
    }

    .productsContainer_item_date p {
        font-size: 10px;
    }
}

@media screen and (max-width:340px) {
    .productsContainer_item {
        height: 260px;
    }

    .productsContainer_item p {
        font-size: 12px;
    }

    .productsContainer_item h4 {
        font-size: 14px;
        margin: 3px 0;
    }

    .productsContainer_item_date p {
        font-size: 11px;
    }

    .productsContainer_item_btns svg {
        font-size: 17px;
        margin-right: 10px;
    }
}