.header {
  width: 100%;
  height: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0 3%;
  justify-content: space-between;
}

.header_bars_icon {
  display: none;
}

.logo {
  color: #fff;
  font-size: 40px;
}

.searchbar {
  height: 55%;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin: 0 4%;
}

.searchbar input {
  flex: 1;
  height: 100%;
  margin: 0 5px 0 25px;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}

.searchbar input::placeholder {
  color: rgb(163, 161, 161);
  font-size: 30px;
}

.searchbar_search {
  width: 12%;
  height: 100%;
  background-color: #eb1537;
  border-radius: 0 30px 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.searchbar_search svg {
  color: #fff;
  font-size: 30px;
}

.header_box_wrapper {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.box p {
  font-size: 23px;
  color: #fff;
  margin: 5px 0px;
}

.box img {
  width: 27px;
}

.box span {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  position: absolute;
  top: -15px;
  right: 10px;
  color: #fff;
  background-color: #f00;
  border-radius: 50%;
  font-size: 17px;
}

@media screen and (max-width: 1600px) {
  .box span {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1510px) {
  .logo {
    font-size: 35px;
  }

  .searchbar {
    height: 52%;
    margin: 0 3%;
  }

  .searchbar input {
    font-size: 27px;
  }

  .searchbar input::placeholder {
    font-size: 27px;
  }

  .searchbar_search {
    width: 14%;
  }

  .header_box_wrapper {
    gap: 22px;
  }
}

@media screen and (max-width: 1430px) {
  .header_box_wrapper {
    gap: 15px;
  }

  .box p {
    font-size: 21px;
  }

  .box img {
    width: 25px;
  }
}

@media screen and (max-width: 1320px) {
  .logo {
    font-size: 32px;
  }

  .searchbar {
    height: 45%;
  }

  .searchbar input {
    font-size: 22px;
  }

  .searchbar input::placeholder {
    font-size: 22px;
  }

  .searchbar_search {
    width: 15%;
  }

  .header_box_wrapper {
    gap: 20px;
  }

  .box p {
    font-size: 18px;
  }

  .box img {
    width: 21px;
  }
}

@media screen and (max-width: 1200px) {
  .box span {
    width: 16px;
    height: 16px;
    font-size: 11px;
    position: absolute;
    top: -8px;
    right: 8px;
  }

  .searchbar_search svg {
    font-size: 22px;
  }
}

@media screen and (max-width: 1140px) {
  .searchbar {
    height: 40%;
  }

  .searchbar input {
    font-size: 18px;
  }

  .searchbar input::placeholder {
    font-size: 18px;
  }

  .searchbar_search {
    width: 15%;
  }

  .header_box_wrapper {
    gap: 13px;
  }

  .box p {
    font-size: 15px;
  }

  .box img {
    width: 18px;
  }

  .header_box_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

@media screen and (max-width: 940px) {
  .logo {
    font-size: 27px;
  }

  .searchbar_search svg {
    width: 18px;
  }
}

@media screen and (max-width: 864px) {
  .searchbar_search {
    width: 20%;
  }

  .searchbar input {
    font-size: 16px;
  }

  .searchbar input::placeholder {
    font-size: 16px;
  }
}

@media screen and (max-width: 840px) {
  .logo {
    font-size: 22px;
  }
  .searchbar input {
    margin-left: 0;
    border-radius: 30px 0 0 30px;
    text-indent: 10px;
  }
}

@media screen and (max-width: 760px) {
  .header_box_wrapper .box:nth-child(2),
  .header_box_wrapper a:nth-child(3) {
    display: none;
  }

  .searchbar {
    height: 80%;
    margin-left: 35px;
  }

  .header_bars_icon {
    display: block;
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
  }

  .header_box_wrapper .box p {
    font-size: 12px;
    margin: 0;
  }

  .header_box_wrapper .box img {
    width: 17px;
  }
}

@media screen and (max-width: 710px) {
  .logo {
    font-size: 20px;
  }

  .searchbar {
    height: 70%;
    margin-left: 35px;
  }

  .searchbar input {
    border-radius: 30px 0 0 30px;
    text-indent: 10px;
    font-size: 14px;
  }
  .searchbar input::placeholder {
    font-size: 14px;
  }

  .header_box_wrapper .box p {
    font-size: 10px;
  }

  .header_box_wrapper .box img {
    width: 14px;
  }

  .box span {
    width: 11px;
    height: 11px;
    font-size: 8px;
    position: absolute;
    top: -8px;
    right: 8px;
  }
}

@media screen and (max-width: 640px) {
  .searchbar {
    height: 80%;
    margin-left: 15px;
  }

  .header_bars_icon {
    font-size: 15px;
  }

  .searchbar_search {
    width: 35px;
  }

  .searchbar_search svg {
    font-size: 12px;
  }
  .searchbar input {
    font-size: 12px;
  }

  .searchbar input::placeholder {
    font-size: 12px;
  }
}

@media screen and (max-width: 470px) {
  .searchbar {
    height: 70%;
  }

  .header_bars_icon {
    font-size: 17px;
  }
  .searchbar input {
    font-size: 10px;
  }
  .searchbar input::placeholder {
    font-size: 10px;
  }

  .searchbar_search {
    width: 30px;
  }
}

@media screen and (max-width: 431px) {
  .header_box_wrapper .box p {
    font-size: 8px;
  }

  .header_box_wrapper .box:last-child p {
    font-size: 8px;
    margin-top: 5px;
  }

  .header_box_wrapper .box img {
    width: 11px;
  }

  .box span {
    width: 11px;
    height: 11px;
    font-size: 8px;
    top: -10px;
    right: 0px;
  }

  .searchbar_search {
    width: 27px;
  }
}

@media screen and (max-width:370px) {
  .searchbar {
    margin-left: 10px;
  }

  .logo {
    font-size: 17px;
  }

  .header_bars_icon {
    font-size: 14px;
  }

  .box span {
    width: 9px;
    height: 9px;
    font-size: 7px;
    top: -10px;
    right: 0px;
  }

}

@media screen and (max-width:345px) {
  .header_box_wrapper .box p {
    font-size: 7px;
  }

  .header_box_wrapper .box img {
    width: 10px;
  }

  .box span {
    width: 9px;
    height: 9px;
    font-size: 7px;
    top: -8px;
    right: 3px;
  }

  .header_box_wrapper{
    gap: 5px;;
  }
}

@media screen and (max-width:330px) {
  .searchbar .searchbar_search{
    display: none;
  }
}
